vssver.scc
.idea/.gitignore
.idea/artifacts/
.idea/codeStyles
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/vcs.xml
LibraryCatalog.ser
boardno-control.xml
config.d2s
dxf2svg.iml
out/
test/controlPanel.html
test/fig_1-2-3.html
test/grid.html
test/grid.svg
test/grid.svgz
test/nav_fig_1-2-3.html
test/test.dxf
test/test.html
test/test.svg
